.nested-fields
  = f.input :email_type_id,:collection => EmailType.all,:label_method => :name,:value_method => :id,:label => 'Email' ,:include_blank => false
  = f.text_field :email
  = link_to_remove_association 'Remove Task', f, class: 'btn btn-default'