= simple_form_for(@user)  do |f|
  = f.error_notification

  .form-inputs
    =f.input :name

  #emails
    = f.fields_for :emails do |e|
      = render 'email_fields', f: e
    = f.fields_for :phones do |p|
      = render 'phone_fields', f: p
    .links
      = link_to_add_association 'add email', f, :emails, class: "btn btn-default"
      = link_to_add_association 'add phone', f, :phones, class: "btn btn-default"

  .form-actions
    .links
      /= link_to_add_association 'add email', f, :emails, class: "btn btn-default"
      /= link_to_add_association 'add phone', f, :phones, class: "btn btn-default"
    = f.button :submit
