.nested-fields
  = f.input :phone_type_id,:collection => PhoneType.all,label_method: :name,value_method: :id,label: 'Phone' ,:include_blank => false
  = f.text_field :phone
  = link_to_remove_association 'Remove', f, class: 'btn btn-default'