.row
  .col-md-8
    h1 Listing users

    table
      thead
        tr
          th
          th
          th

      tbody
        - @users.each do |user|
          tr
            td = link_to 'Show', user
            td = link_to 'Edit', edit_user_path(user)
            td = link_to 'Destroy', user, data: {:confirm => 'Are you sure?'}, :method => :delete

    br

    = link_to 'New User', new_user_path
