h1 Listing enumerations

table
  thead
    tr
      th Name
      th Type
      th
      th
      th

  tbody
    - @enumerations.each do |enumeration|
      tr
        td = enumeration.name
        td = enumeration.type
        td = link_to 'Show', enumeration
        td = link_to 'Edit', edit_enumeration_path(enumeration)
        td = link_to 'Destroy', enumeration, data: {:confirm => 'Are you sure?'}, :method => :delete

br

= link_to 'New Enumeration', new_enumeration_path
